{% extends "base.html" %}
{% block headcontent %}
<title>Calendar</title>
{% load static %}
<link rel="stylesheet" href="{% static 'manager/calendar.css' %}">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
<script src="{% static 'manager/calendar.js' %}" defer></script>
{% endblock %}
{% block content %}
<div id='calendar'></div>
<div class="modal fade" id="eventDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventDetailsModalTitle"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="eventStart" class="form-label fw-bold"> Start :</label>
            <input type="datetime-local" readonly class="form-control-plaintext" id="eventStart">
          </div>

          <div class="mb-3">
            <label for="eventEnd" class="form-label fw-bold"> End :</label>
            <input type="datetime-local" readonly class="form-control-plaintext" id="eventEnd">
          </div>

          <div class="mb-3">
            <label for="eventDetails" class="form-label fw-bold">Details :</label>
            <textarea readonly class="form-control-plaintext" id="eventDetails" rows="4"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" id="editButton">Edit</a>
          <button class="btn btn-sm btn-danger" id="deleteButton">Delete</a>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="taskDetailsModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="taskDetailsModalTitle"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="taskDue" class="form-label fw-bold"> Due :</label>
            <input type="datetime-local" readonly class="form-control-plaintext" id="taskDue">
          </div>

          <div class="mb-3">
            <label for="taskDetails" class="form-label fw-bold">Details :</label>
            <textarea readonly class="form-control-plaintext" id="taskDetails" rows="4"></textarea>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEventModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add a new event</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="newTitle" class="form-label fw-bold"> Title :</label>
            <input type="text" class="form-control" id="newTitle">
          </div>

          <div class="mb-3">
            <label for="newStart" class="form-label fw-bold"> Start :</label>
            <input type="datetime-local" class="form-control" id="newStart">
          </div>

          <div class="mb-3">
            <label for="newEnd" class="form-label fw-bold"> End :</label>
            <input type="datetime-local" class="form-control" id="newEnd">
          </div>

          <div class="mb-3">
            <label for="newDetails" class="form-label fw-bold">Details :</label>
            <textarea class="form-control" id="newDetails" placeholder="optional" rows="4"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" id="addButton">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}