{% extends 'base.html' %}
{% block headcontent %}
  <title>Dashboard</title>
  {% load static %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
{% endblock %}
{% block content %}
{% load index %}
<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    {% if child_list %}
    <div class="col mb-4">
      <h3 class="p-2">Your children</h3>
        {% for child in child_list %}
            <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ child.displayed_name }}</h5>
              {% if child.displayed_name != child.user.email %}
              <p>({{child.user.email}})</p>
              {% endif %}
              <table>
                <caption style="caption-side: top; font-weight:bold; color:white">Task statistics</caption>
                <tr>
                  <th>Status</th>
                  <th>Count</th>
                </tr>
                <tr>
                  <td>Due today</td>
                  <td align="right">{{ today|index:forloop.counter0 }}</td>
                </tr>
                <tr>
                  <td>Late</td>
                  <td align="right">{{ late|index:forloop.counter0 }}</td>
                </tr>
                <tr>
                  <td>Finished</td>
                  <td align="right">{{ fin|index:forloop.counter0 }}</td>
                </tr>
              </table>
              <a href="{% url 'manager:user_tb_index' child.user.id %}" class="card-link btn btn-primary">Taskboards</a>
              <a href="{% url 'manager:chart_index' child.user.id %}" class="card-link btn btn-primary">Burndown charts</a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% else %}
      <h3 class="text-center"> You currently do not have any children associated!</h3>
      <h3 class="text-center"> please ask them to add you via the profile page.</h3>
      {% endif %}
      <a href="{% url 'manager:taskboard_index' %}" class="p-2 btn btn-primary m-2"> back to index</a>
  </div>
</div>
{% endblock %}