{% extends 'base.html' %}
{% block headcontent %}
  <title>Dashboard</title>
  {% load static %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
{% endblock %}
{% block content %}
{% if child_list %}
{% load index %}
<h3>Your children</h3>
{% for child in child_list %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ child.displayed_name }}</h5>
    <p>Task statistics</p>
    <table>
      <tr>
        <th>Status</th>
        <th>Count</th>
      </tr>
      <tr>
        <td>Due today</td>
        <td align="right">{{ today|index:forloop.counter0 }}</td>
      </tr>
      <tr>
        <td>Late</td>
        <td align="right">{{ late|index:forloop.counter0 }}</td>
      </tr>
      <tr>
        <td>Finished</td>
        <td align="right">{{ fin|index:forloop.counter0 }}</td>
      </tr>
    </table>
    <a href="{% url 'manager:user_tb_index' child.user.id %}" class="card-link">Taskboards</a>
    <a href="{% url 'manager:chart_index' child.user.id %}" class="card-link">Burndown charts</a>
  </div>
</div>
{% endfor %}
{% else %}
<p> You currently do not have any children associated!</p>
<p> please ask them to add you via the profile page.</p>
{% endif %}
<a href="{% url 'manager:taskboard_index' %}"> back to index</a>
{% endblock %}