{% extends "base.html" %}
{% block headcontent %}
<title>{{taskboard.name}}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'manager/taskboard.css' %}">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
<script src="{% static 'manager/taskboard.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <h1 class="text-center md-6">{{taskboard.name}}</h1>

  <div class="row gx-4 mt-3">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 bg-light-subtle rounded">
        <h4 class="py-3 text-success-emphasis bg-success-subtle text-center rounded">To-Do</h4>
        <div class="drop_area pb-5" id="todo">
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 bg-light-subtle rounded" id="in-progress">
        <h4 class="py-3 text-warning bg-warning-subtle text-center rounded">In Progress</h4>
        <div class="drop_area pb-5" id="in-progress">
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 bg-light-subtle rounded">
        <h4 class="py-3 bg-black bg-gradient text-center rounded">Done</h4>
        <div class="drop_area pb-5" id="done">
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="task-offcanvas">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvas-label">
        Task Details
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <form>
        <div class="mb-3">
          <label for="offcanvas-task-title" class="form-label fw-bold">Title :</label>
          <input type="text" readonly class="form-control-plaintext" id="task-title" value="Placeholder">
        </div>

        <div class="mb-3">
          <h6 class="form-label fw-bold">Due Date :</h6>
          <input type="datetime-local" readonly class="form-control" id="task-enddate">
        </div>

        <div class="mb-3">
          <label for="offcanvas-task-detail" class="form-label fw-bold">Details :</label>
          <input type="text" readonly class="form-control-plaintext" id="task-details" value="Lorem Ipsum">
        </div>

        <input type="button" value="Edit" class="btn btn-sm btn-primary" id="edit-task-btn">
        <button class="btn btn-sm btn-danger" id="del-task-btn">Delete</button>
      </form>
    </div>
  </div>


  <button class="btn btn-primary btn-sm w-100 position-fixed bottom-0 start-50 translate-middle-x" data-bs-toggle="modal" data-bs-target="#addTask">
    Add Task
  </button>

  <div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addTaskLabel">Create a Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="#" method="post">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="task_title" class="form-label">Task title</label>
              <input type="text" name="title" class="form-control" id="task_title" placeholder="New task title">
            </div>

            <div class="mb-3">
              <label for="task_status" class="form-label">Task status</label>
              <select name="status" class="form-control" id="task_status">
                <option value="TODO">To-Do</option>
                <option value="IN PROGRESS">In Progress</option>
                <option value="DONE">Done</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="task_enddate" class="form-label">Due date</label>
              <input type="datetime-local" readonly name="end-date" class="form-control" id="task-enddate">
              <div id="enddateHelp" class="form-text text-center">
                The due date is set to today, midnight if no value is provided.
              </div>
            </div>

            <div class="mb-3">
              <label for="task_details" class="form-label">Details</label>
              <input type="text" name="details" class="form-control" id="task_details" placeholder="New task details (Optional)" aria-describedby="detailsHelp">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}