{% extends "base.html" %}
<title>Taskboard</title>
{% block content %}
<div class="container py-5">
  {% if taskboard_list %}
    {% for taskboard in taskboard_list %}
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 bg-light-subtle border-0 shadow-lg rounded-lg overflow-hidden">
            <div class="card-header bg-warning text-white text-center py-4">
                <h4 class="mb-0">{{taskboard.name}}</h4>
            </div>
            <div class="card-body">
              <div class="d-grid gap-2 d-md-block">
                  <a href="#" class="btn btn-info mx-2">Go to board</a>
                  <a href="#" class="btn btn-danger mx-2">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="d-grid gap-2 col-6 mx-auto">
      <h4 class="text-white text-center">You have no taskboard</h4>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="center">
        Create a taskboard
      </button>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a taskboard</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              To be changed into form after taskboard creation is implemented.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}