{% extends "base.html" %}
{% block headcontent %}
  <title>Page 2 | A-Level Calculator</title>

  {% load static %}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js" defer></script>
  <script src="{% static 'calculator/major.js' %}" type="module" defer></script>
{% endblock %}

{% block content %}
<div class="container px-3 py-4">

    <h2 class="text-center rounded">Step 2/3: Select your Major</h2>
    <div class="row justify-content-between my-3">
      <select name="test" class="col form-control mx-2" id="university">
        <option disabled selected value>- select a university -</option>
      </select>
      <select class="col form-control mx-2" id="faculty">
        <option disabled selected value>- select a faculty -</option>
      </select>
      <select class="col form-control mx-2" id="major">
        <option disabled selected value>- select a major -</option>
      </select>
      <select class="col form-control mx-2" id="criteria">
        <option disabled selected value>- select a criterion -</option>
      </select>
      <button type="submit" class="col justify-content-end btn btn-primary mx-2" id="results-btn">Show Results</button>
    </div>
    
    <div class="row gx-4 mt-3">
    <h5 class="rounded">Or input score weights manually</h5>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 rounded card" style="height: 50vh;">
        <h4 class="pt-3 text-center rounded">TGAT & TPAT</h4>
        <div id="tgat-tpat" class="overflow-y-auto"></div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 rounded card" style="height: 50vh;">
        <h4 class="pt-3 text-center rounded">A-Level</h4>
        <div id="a-level" class="overflow-y-auto"></div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="p-4 rounded card" style="height: 50vh;">
        <h4 class="pt-3 text-center rounded">GPAX & Other Exams</h4>
        <div id="other-exams" class="overflow-y-auto"></div>
      </div>
    </div></div>

</div>
{% endblock %}