
html, body {
    height: 100%;
  }
  
  .full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .stretch-row {
    flex-grow: 1;
  }
  
  .card {
    background-color: #343a40; /* Light gray background for the cards */
    color: #ffffff; /* Darker font color */
  }

  .calendar .col {
    border: 1px solid #a3a6a9;
    padding: 10px;
    text-align: center;
    background-color: #eeeeee; /* Light blue background for the calendar cells */
    color: #000000;
  }
  
  .calendar .date-row .col {
    height: 100px; /* Adjust height as needed */
    vertical-align: middle; /* Vertically centers the content */
  }

 .current-day {
    background-color: #ffeb3b; /* Yellow background color */
    color: #000; /* Black text color */
  }

  .date-cell {
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .date-cell:hover {
    background-color: #b9b9bb;
  }

  /* Taskboard font color */
.taskboard p {
  color: #ffffff; /* Dark teal font for taskboard text */
  }

  .task-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    margin-left: 2px;
}

.event-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(84, 78, 255);
  border-radius: 50%;
  margin-left: 2px;
}

  